<%= provide(:title, "M+M Running Man App") %>

<div class="banner-image">
    <div class="main-text">Running Man</div>
    
    <div class="subtitle">M+M WEB EDITION</div>
</div>

<p> 
Run, don't walk!
</p>

<%= link_to "Sign up!", '#', class: "btn btn-lg btn-primary" %>




